# Si necesitas esta línea en Ferozo, puedes dejarla. Si falla, bórrala o ponle un # al inicio
AddHandler application/x-httpd-php82 .php 
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    # Si el archivo o carpeta existe físicamente (ej. imágenes, css), no lo redirigir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Enviar todo el resto del tráfico a index.php
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>